- title @calendar.name || 'Calendar'
- breadcrumbs do
  = breadcrumb 'Calendars', calendars_path

.container
  - calendar = BootstrapMonthCalendar.new(self, timezone: @calendar.timezone, events: @calendar.appointments)

  - calendar_render = Proc.new do |date, appointments|
    %h3= date.day
    %ul.list-unstyled
      - appointments.each do |appointment|
        %li= link_to appointment.name, location_appointment_path(appointment.location, appointment)

  = calendar.render(calendar_render)
